/* global */
* {
  box-sizing: border-box;
}

:root {
  font-family: Georgia, Verdana, serif;
}

/* Header */
.title {
  text-align: center;
}

/* content */
.container {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container li {
  height: 40px;
  margin-bottom: 10px;
}

img {
    width: 100%;
    min-width: 360px;
    max-width: 500px;
    height: auto;
    background-size: cover;
    object-fit: cover;
}

.ingredients-list li {
    margin-bottom: 15px;
}